<!-- Zhi Ting -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>CRA - !</title>
<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
<script src="/bootstrap/js/bootstrap.js"></script>
</head>
<div th:replace="fragments/style1"></div>
<body>
	<div class="right">
		<div th:replace="fragments/header1"></div>
		<div class="content">
			<h2>You are NOT authorized to access this page!</h2>
		</div>
	</div>
	<div th:replace="fragments/footer"></div>
</body>
</html>