<!-- Zhi Ting -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>CRA - About Us</title>
<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
<script src="/bootstrap/js/bootstrap.js"></script>
</head>
<div th:replace="fragments/style1"></div>
<body>
	<div class="right">
		<div th:replace="fragments/header1"></div>
		<div class="content">
			<a style="font-family: times new roman; font-size: 50px;">About Our
				Mission</a> <br> <a
				style="font-family: 'times new roman'; font-size: 29px;">CRA
				aims to use machine learning, a type of technology that learns from
				data, to streamline and reduce the costs of this process for SMEs.
				We aim to build a model that can swiftly evaluate the
				creditworthiness of SMEs, enabling easier access to financing for
				them.</a> <br> <a
				style="font-family: 'times new roman'; font-size: 19px;">At
				CRA, we are committed to leveraging the power of machine learning to
				drive financial inclusion and empower small and medium enterprises.
				Our goal is to make financial assessment more efficient and
				accessible, ultimately fostering economic growth and development.</a>
		</div>
	</div>
	<div th:replace="fragments/footer"></div>
</body>
</html>