<!-- Zhi Ting -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>CRA - Contact Us</title>
<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
<script src="/bootstrap/js/bootstrap.js"></script>
</head>
<style>
img {
	width: 77px;
}

a {
	text-decoration: none;
	color: black;
}
</style>
<div th:replace="fragments/style1"></div>
<body>
	<div class="right">
		<div th:replace="fragments/header1"></div>
		<div class="content">
			<a href="https://www.instagram.com/z.tingg_/"
				style="font-family: 'times new roman'; font-size: 27px; font-weight: bold;"><img
				src="/images/isg.png">@CRA</a> <br> <a
				href="https://t.me/z_tingg"
				style="font-family: 'times new roman'; font-size: 27px; font-weight: bold;"><img
				src="/images/tlg.png">@CRA</a> <br> <a
				href="https://wa.me/6587774836"
				style="font-family: 'times new roman'; font-size: 27px; font-weight: bold;"><img
				src="/images/wa.png">+65 6123 4567</a> <br> <a
				href="https://mail.google.com/mail"
				style="font-family: 'times new roman'; font-size: 27px; font-weight: bold;"><img
				src="/images/gm.png">CRA@gmail.com</a>
		</div>
	</div>
	<footer>
		<div class="mb-3 fixed-bottom text-center">
			<span class="text-muted" style="font-size: 17px;">CRA</span>
		</div>
	</footer>
</body>
</html>