<!-- Zhi Ting -->
<header style="background-color: black; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: 20px;">
	<nav class="navbar navbar-expand-lg navbar-light" style="border-radius: 7px">
		<div class="container">
			<a class="navbar-brand" href="/"> <img src="/images/Logo.png" style="width: 77px"></a>
			<div class="me-auto navbar-nav" >
				<a class="active nav-link" href="/ourservice" style="color: white;">Our Service</a>
				<div sec:authorize="hasRole('ROLE_ADMIN')">
					<a class="active nav-link" href="/members" style="color: white;">Members</a>
				</div>
				<div sec:authorize="hasRole('ROLE_ADMIN')">
					<a class="active nav-link" href="/companies" style="color: white;">Companies</a>
				</div>
				<a class="active nav-link" href="/aboutus" style="color: white;">About Us</a>
				<a class="active nav-link" href="/contactus" style="color: white;">Contact Us</a>
				<a class="active nav-link" sec:authorize="!isAuthenticated()" href="/login">Log In</a>
			
				<form method="post" sec:authorize="isAuthenticated()" th:action="@{/logout}">
    <a class="active nav-link" href="javascript:void(0);" onclick="this.closest('form').submit()" style="color: white;">Log Out</a>
</form>

			</div>
		</div>
	</nav>
</header>

