<!-- Zhi Ting -->
<style>
body {
	background-color: #DADCDD;
}

h1 {
	font-family: fantasy;
}

a {
	color: black;
}

a:hover {
	color: black;
}

.contents {
	display: flex;
	flex-direction: column;
	height: 81.2vh;
	justify-content: center;
	padding-top: 20px;
}

button, .btn {
	background-color: #0080FF;
	border-color: #0080FF;
	border-radius: 20px;
	color: white;
	padding:20px;
	width:300px;
	font-family: 'times new roman';
	font-weight: bold;
}

button:hover, .btn:hover {
	background-color: #0080FF;
	border-color: #0080FF;
	border-radius: 20px;
	color: white;
	font-family: 'times new roman';
	font-weight: bold;
}

.btn-shadow:focus {
	box-shadow: 0 0 12px #aa85fa;
}

label {
	font-family: 'Courier New', Courier, monospace;
	font-weight: bold;
}
</style>